
<section id="echarts_eg" class="echarts_eg">
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-18 col-lg-offset-2">
        <script src="js/echarts.js"></script>
        <div id="main" style="width: 960px;height:500px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
    
            // 指定图表的配置项和数据
            
        option = {
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['优', '良','轻度污染','中度污染','重度污染']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis:  {
                type: 'value'
            },
            yAxis: {
                type: 'category',
                data: ['北京','上海','深圳','广州','重庆','天津','苏州','武汉',
                '成都','杭州']
            },
            series: [
                {
                    name: '优',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [200, 210, 301, 34, 390, 330, 320, 20,30,40]
                },
                {
                    name: '良',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [120, 132, 101, 134, 90, 230, 210,90, 230, 210]
                },
                {
                    name: '轻度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [220, 182, 191, 234, 29, 330, 310,90, 230, 210]
                },
                {
                    name: '中度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [150, 212, 201, 154, 19, 30, 410,90, 230, 210]
                },
                {
                    name: '重度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [820, 832, 901, 934, 12, 133, 132,90, 230, 210]
                }
            ]
        };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>

</section>
