
<section id="echarts_eg" class="echarts_eg">
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-18 col-lg-offset-2">
        <script src="js/echarts.js"></script>
        <div id="echarts_eg_1" style="width: 960px;height:500px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('echarts_eg_1'));
    
            // 指定图表的配置项和数据
            
        option = {
            title: {
            text: '2013-2019年城市月度空气质量情况',
            left: 'center'
            },
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['优', '良','轻度污染','中度污染','重度污染'],
                left: 'right',
                top: 35
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                top: '15%',
                containLabel: true
            },
            xAxis:  {
                type: 'value'
            },
            yAxis: {
                type: 'category',
                data: ['北京','上海','深圳','广州','重庆','天津','苏州','武汉',
                '成都','杭州']
            },
            series: [
                {
                    name: '优',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [0, 0, 23, 3, 0,0,0,0,0,0]
                },
                {
                    name: '良',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [25, 59, 44, 60, 53, 29, 53,40, 43, 57]
                },
                {
                    name: '轻度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [35, 5, 1, 2, 10, 33, 11,22, 17, 7]
                },
                {
                    name: '中度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [5, 1, 0, 0, 2, 3, 1,1, 4, 1]
                },
                {
                    name: '重度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [0, 0, 0, 0, 0, 0,0, 2, 1, 0]
                }
            ]
        };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>

</section>
