


<!--  导航栏目 -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#Menu"  onclick = $("#menu-close").click(); >Menu</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >About</a>
    </li>
    <li>
      <a href="#part1-title" onclick = $("#menu-close").click(); >自然资源</a>
    </li>
    <li>
      <a href="#part2-title" onclick = $("#menu-close").click(); >环境污染</a>
    </li>
    <li>
      <a href="#part3-title" onclick = $("#menu-close").click(); >公共资源</a>
    </li>
    <li>
      <a href="#part4-title" onclick = $("#menu-close").click(); >居民生活</a>
    </li>
    <li>
      <a href="#footer" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
