<br></br>
<section id='part3-title' class="bg-primary">
	<div class="container-fluid">
    <div class="row text-center"> 
    	<br></br>
    	<div class="service-item">
        <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-hospital-o fa-stack-1x text-primary"></i>
        </span>
        <h2><strong>公共资源</strong></h2>
        </div>
      	<div class="col-lg-12">
      	<div class="col-lg-2 column">
		</div>
		<div class="col-lg-8 column">
			<p class="lead">
			<strong><em>公共资源</em></strong> 
			（common resource）是指自然生成或自然存在的资源，它能为人类提供生存、发展、享受的自然物质与自然条件，这些资源的所有权由全体社会成员共同享有，是人类社会经济发展共同所有的基础条件。
			</p>
		</div>
		<div class="col-lg-2 column">
		</div>
    	</div>
	</div>
	</div>
</section>
