<br></br>
<section id='part3-title' class="bg-primary">
	<div class="container-fluid">
    <div class="row text-center"> 
    	<br></br>
    	<div class="service-item">
        <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-hospital-o fa-stack-1x text-primary"></i>
        </span>
        <h2><strong>公共资源</strong></h2>
        </div>
      	<div class="col-lg-12">
      		<div class="col-lg-2"></div>
    		<div class="col-lg-8">
			<p class="lead">
			<strong><em>公共资源</em></strong> 
			（common resource）是指自然生成或自然存在的资源，它能为人类提供生存、发展、享受的自然物质与自然条件，这些资源的所有权由全体社会成员共同享有，是人类社会经济发展共同所有的基础条件。
			</p>
    		</div>
		</div>
	</div>
	</div>
</section>

<br></br>
<section id='part3-content1'>
    <div class="container-fluid">
    <div class="text-center"><h2>2017年基础教育师生比</h2></div>
    <div class="row">
        <div class="col-lg-12">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <script src="js/echarts.js"></script>
        <div id="part3-content1_graph1" style="width: 80%px;height:500px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('part3-content1_graph1'));
            option = {
                legend: {},
                tooltip: {},
                dataset: {
                    source: [
                        ['product', '小学师生比', '初中师生比', '高中师生比'],
                        ['北京', 13.58, 7.73, 7.64],
                        ['上海', 14.35, 10.48, 8.86],
                        ['全国', 16.98, 12.52, 13.39]
                    ]
                },
                xAxis: {type: 'category'},
                yAxis: {},
                // Declare several bar series, each will be mapped
                // to a column of dataset.source by default.
                series: [
                    {type: 'bar'},
                    {type: 'bar'},
                    {type: 'bar'}
                ]
            };
            // 指定图表的配置项和数据
            
        
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
        </div>
        </div>
    </div>
</section> 

<br></br>
<section id='part3-content2'>
    <div class="container-fluid">
    <div class="text-center"><h2>医疗床位呀</h2></div>
    <div class="row">
        <div class="col-lg-12">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <script src="js/echarts.js"></script>
        <div id="part3-content2_graph1" style="width: 80%px;height:500px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('part3-content2_graph1'));
            option = {
            
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['北京','上海','全国']
            },
            grid: {
                left: '5%',
                right: '5%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['2011','2012','2013','2014','2015','2016','2017']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'北京',
                    type:'line',
                    stack:'堆叠',
                    areaStyle: {},
                    data:[76.23,79.41,81.45,84.59,84.31,86.36,86.58]
                },
                {
                    name:'上海',
                    type:'line',
                    stack:'堆叠',
                    areaStyle: {},
                    data:[76.78,78.56,81.45,83.4,86.82,91.09,94.58]
                },
                {
                    name:'全国',
                    type:'line',
                    stack:'堆叠',
                    areaStyle: {},
                    data:[62.4,68.8,73.6,78.37,82.7,84.13,87.54,]
                }
            ]
            };
            // 指定图表的配置项和数据
            
        
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
        </div>
        </div>
    </div>
</section> 