<br></br>
<section id='part4-title' class="bg-primary">
	<div class="container-fluid">
    <div class="row text-center"> 
    	<br></br>
    	<div class="service-item">
        <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-male fa-stack-1x text-primary"></i>
        </span>
        <h2><strong>居民生活</strong></h2>
        </div>
      	<div class="col-lg-12">
      	<div class="col-lg-2 column">
		</div>
		<div class="col-lg-8 column">
			<p class="lead">
			<strong><em>居民生活水平</em></strong> 
			是指在某一社会生产发展阶段中，居民用以满足物质、文化生活需要的社会产品和劳务的消费程度。
			</p>
		</div>
		<div class="col-lg-2 column">
		</div>
    	</div>
	</div>
	</div>
</section>
