<section id='part1-title' class="bg-primary">
	<br></br>
	<div class="container-fluid">
    <div class="row text-center">
    	<div class="service-item">
        <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-tree fa-stack-1x text-primary"></i>
        </span>
        <h2><strong>自然资源</strong></h2>
  
        </div>
    	<div class="col-lg-12">
      	<div class="col-lg-2 column">
		</div>
		<div class="col-lg-8 column">
			<p class="lead">
				 <strong><em>中国陆地面积</em></strong> 960万平方公里,占亚洲大陆土地面积的22.1%,占全世界陆地面积的 6.4%,是世界上国土面积广阔的国家之一,位居世界第三。
				 <br></br>
				 <strong>中国</strong>丰富的土地资源具有两个显著的地理特色：一、海拔较高、起伏较大的山地（包括丘陵、山地和高原）所占的面积超过平地（平原和高平原）,成2/3与1/3之比；二、在复杂多样的生态环境中,形成草原多、耕地少、林地比例小、难利用土地比例大的特点。2018年,草原约占全国土地总面积的37.4%,耕地占10.4%,林地约占12.7%,而沙漠、戈壁、高寒荒漠、石山、冰川和永久积雪等难以利用的土地则合计约占20.5%。尽管如此,中国土地资源进一步充分合理利用的潜力仍很大,除现有草地、耕地和林地外,估计全国还有约3300万公顷的宜农荒地、6000多万公顷的草山草坡和9000多万公顷的宜林荒山、荒地和疏林地有待开发利用（见中国土地资源）。

			</p>
		</div>
		<div class="col-lg-2 column">
		</div>
    	</div>
	</div>
	</div>
</section>

<br></br>
<section id="part1-content1" >
  <div class="container-fluid">
  	<div class="text-center"><h3>土地占有是什么情况呀</h3></div>
  	<div class="col-lg-12 text-center">
    	<div class="col-lg-2 column"></div>
		<div class="col-lg-8 column"><p class="lead"><strong><em>土地占有</em></strong> 是对土地的实际控制,由于土地所有权与使用权的分离,土地所有人不一定就是土地占有人,中国多数情况下,土地是由非所有人占有和使用的。</p>
		</div>
		<div class="col-lg-2 column"></div>
		</div>
	<br></br>
	<br></br>
    <div class="text-center"><h4>2008-2017年四城相关指标情况</h4>
    	<h5>城市人口密度(人/平方公里)</h5></div>
    <div class="row">
      	<div class="col-lg-18 col-lg-offset-2">
      	<script src="js/echarts.js"></script>
      	<div id="part1-content1_graph1" style="width: 960px;height:500px;"></div>
      	<script type="text/javascript">
        // 基于准备好的dom,初始化echarts实例
        var myChart = echarts.init(document.getElementById('part1-content1_graph1'));

        // 指定图表的配置项和数据
        option = {
		    tooltip: {
		        trigger: 'axis'
		    },
		    legend: {
		        data:['北京', '上海', '天津', '全国']
		    },
		    grid: {
		        left: '2%',
		        right: '2%',
		        bottom: '2%',
		        containLabel: true
		    },
		    xAxis: {
		        type: 'category',
		        data: ['2008', '2009', '2010', '2011', '2012',
		         '2013','2014', '2015', '2016', '2017']
		    },
		    yAxis: {
		        type: 'value'
		    },
		    series: [
		        {
		            name:'北京',
		            type:'line',
		            step: 'middle',
		            data:[1181,1224,1383,1428,1464,
		            1498,1525,1541,1145,1144]
		        },
		        {
		            name:'上海',
		            type:'line',
		            step: 'middle',
		            data:[2978,3030,3630,3702,3754,
		            3809,3826,3809,3816,3814,]
		        },
		        {
		            name:'天津',
		            type:'line',
		            step: 'middle',
		            data:[2858,2716,2752,2636,2782,
		            2843,3328,3492,3639,3276,]
		        },
		        {
		            name:'全国',
		            type:'line',
		            step: 'middle',
		            data:[2080,2147,2209,2228,2307,
		            2362,2419,2399,2408,2477,]
		        }
		    ]
		};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    	</script>
     	</div>
    </div>
  </div>
</section>

<br></br>
<section id="part1-content2" >
  <div class="container-fluid">
  	<div class="text-center"><h3>水资源是什么情况呀</h3></div>
  	<div class="col-lg-12 text-center">
    	<div class="col-lg-2 column"></div>
		<div class="col-lg-8 column"><p class="lead"><strong><em>根据</em></strong> 根据世界气象组织（WMO）和联合国教科文组织（UNESCO）的《INTERNATIONAL GLOSSARY OF HYDROLOGY》（国际水文学名词术语,第三版,2012年）中有关水资源的定义,水资源是指可资利用或有可能被利用的水源,这个水源应具有足够的数量和合适的质量,并满足某一地方在一段时间内具体利用的需求。根据全国科学技术名词审定委员会公布的水利科技名词（科学出版社,1997）中有关水资源的定义,水资源是指地球上具有一定数量和可用质量能从自然界获得补充并可资利用的水。</p>
		</div>
		<div class="col-lg-2 column"></div>
		</div>
	<br></br>
	<br></br>
    <div class="text-center"><h4>水资源的表格呀</h4>
    	<h5>人均水资源量(立方米/人)</h5></div>
    <div class="row">
      	<div class="col-lg-18 col-lg-offset-2">
      	<script src="js/echarts.js"></script>
      	<div id="part1-content2_graph1" style="width: 960px;height:500px;"></div>
      	<script type="text/javascript">
        // 基于准备好的dom,初始化echarts实例
        var myChart = echarts.init(document.getElementById('part1-content2_graph1'));

        // 指定图表的配置项和数据
        
		option = {
			tooltip : {
    		    trigger: 'axis',
    		    axisPointer: {
    		        type: 'cross',
    		        label: {
    		            backgroundColor: '#6a7985'
    		        }
    		    }
    		},
    		legend: {
    		    data:['北京','上海','重庆','天津','全国']
    		},
    		grid: {
    		    left: '3%',
    		    right: '3%',
    		    bottom: '3%',
    		    containLabel: true
    		},
    		xAxis : [
    		    {
    		        type : 'category',
    		        boundaryGap : false,
    		        data : ['2008', '2009', '2010', '2011', '2012',
		         '2013','2014', '2015', '2016', '2017']
    		    }
    		],
    		yAxis : [
    		    {
    		        type : 'value'
    		    }
    		],
    		series : [
    		    {
    		        name:'北京',
    		        type:'line',
    		        stack: '总量',
    		        areaStyle: {},
    		        data:[205.53,126.61,124.2,134.71,193.24,
    		        118.59,95.15,124.01,161.6,137.21,]
    		    },
    		    {
    		        name:'上海',
    		        type:'line',
    		        stack: '总量',
    		        areaStyle: {},
    		        data:[197.54,218.28,163.1,89.12,143.4,116.9,
    		        194.79,264.82,252.33,140.56,]
    		    },
    		    {
    		        name:'重庆',
    		        type:'line',
    		        stack: '总量',
    		        areaStyle: {},
    		        data:[2040.32,1600.27,1616.8,1773.3,1626.5,
    		        1603.87,2155.94,1518.65,1994.72,2142.92,]
    		    },
    		    {
    		        name:'天津',
    		        type:'line',
    		        stack: '总量',
    		        areaStyle: {normal: {}},
    		        data:[159.76,126.79,72.8,115.96,237.99,
    		        101.49,76.08,83.56,121.58,83.36,]
    		    },
    		    {
    		        name:'全国',
    		        type:'line',
    		        stack: '总量',
    		        label: {
    		            normal: {
    		                show: true,
    		                position: 'top'
    		            }
    		        },
    		        areaStyle: {normal: {}},
    		        data:[2071.05,1816.18,2310.41,1730.2,2186.2,
    		        2059.69,1998.64,2039.25,2354.92,2074.53,]
    		    }
    		]
		};


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
      </div>
    </div>
  </div>
</section>

<br></br>
<section id="part1-content3" >
  <div class="container-fluid">
  	<div class="text-center"><h3>来啊造作呀</h3></div>
  	<div class="col-lg-12 text-center">
    	<div class="col-lg-2 column"></div>
		<div class="col-lg-8 column"><p class="lead"><strong><em>能源消耗</em></strong> 能源消耗是能源消费的别称,能源消耗是指生产和生活所消耗的能源。能源消耗按人平均的占有量是衡量一个国家经济发展和人民生活水平的重要标志。人均能耗越多,国民生产总值就越大,社会也就越富裕。在发达国家里,能源消耗强度变化与工业化进程密切相关。随着经济的增长,工业化阶段初期和中期能源消耗一般呈缓慢上升趋势,当经济发展进入后工业化阶段后,经济增长方式发生重大改变,能源消费强度开始下降。</p>
		</div>
		<div class="col-lg-2 column"></div>
		</div>
    <div class="text-center"><h4>早做表格</h4></div>
    <div class="row">
      	<div class="col-lg-18 col-lg-offset-2">
      	<script src="js/echarts.js"></script>
      	<div id="part1-content3_graph1" style="width: 960px;height:500px;"></div>
      	<script type="text/javascript">
        // 基于准备好的dom,初始化echarts实例
        var myChart = echarts.init(document.getElementById('part1-content3_graph1'));

        // 指定图表的配置项和数据
        
		option = {
		    title: {
		        text: 'Step Line'
		    },
		    tooltip: {
		        trigger: 'axis'
		    },
		    legend: {
		        data:['Step Start', 'Step Middle', 'Step End']
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    toolbox: {
		        feature: {
		            saveAsImage: {}
		        }
		    },
		    xAxis: {
		        type: 'category',
		        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
		    },
		    yAxis: {
		        type: 'value'
		    },
		    series: [
		        {
		            name:'Step Start',
		            type:'line',
		            step: 'start',
		            data:[120, 132, 101, 134, 90, 230, 210]
		        },
		        {
		            name:'Step Middle',
		            type:'line',
		            step: 'middle',
		            data:[220, 282, 201, 234, 290, 430, 410]
		        },
		        {
		            name:'Step End',
		            type:'line',
		            step: 'end',
		            data:[450, 432, 401, 454, 590, 530, 510]
		        }
		    ]
		};


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
      </div>
    </div>
  </div>
</section>