
<section id='part2-title' class="bg-primary">
	<div class="container-fluid">
    <div class="row text-center"> <h1>生态环境</h1>
    	<br></br>
      <div class="col-lg-12">
      	<div class="col-lg-2 column">
		</div>
		<div class="col-lg-8 column">
			<p class="lead">
				 <strong><em>城市病</em></strong> ，是指城市在发展过程中出现的交通拥挤、住房紧张、供水不足、能源紧缺、环境污染、秩序混乱，以及物质流、能量流的输入、输出失去平衡，需求矛盾加剧等问题。
				 <br></br>
				 <strong>主要表现为：</strong>城市规划和建设盲目向周边扩延，大量耕地被占，人地矛盾尖锐；布局分散、城市整体规划相对落后；只求规模不问功能，盲目扩大，土地利用效率低下；道路交通、公共服务等基础设施建设相对不足和落后；城市历史文化遗产得不到良好的保护；城市建设中的人文问题、犯罪率问题突出等。这些问题使城市建设与城市发展处于失衡和无序状态，造成资源的巨大浪费、居民生活质量下降和经济发展成本提高，在一定程度上阻碍了城市的可持续发展。城市病几乎是所有国家城市化过程中曾经或正在面临的问题，并不限于资本主义国家。

			</p>
		</div>
		<div class="col-lg-2 column">
		</div>
    	</div>
	</div>
	</div>
</section>

<br></br>
<section id='part2-content1'>
    <div class="container-fluid">
    <div class="text-center"><h2>2013-2019年城市月度空气质量情况</h2></div>
    <div class="row">
      <div class="col-lg-18 col-lg-offset-2">
        <script src="js/echarts.js"></script>
        <div id="part2-content1_graph1" style="width: 960px;height:500px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('part2-content1_graph1'));
    
            // 指定图表的配置项和数据
            
        option = {
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['优', '良','轻度污染','中度污染','重度污染'],
                left: 'right',
                top: 35
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                top: '15%',
                containLabel: true
            },
            xAxis:  {
                type: 'value'
            },
            yAxis: {
                type: 'category',
                data: ['北京','上海','深圳','广州','重庆','天津','苏州','武汉',
                '成都','杭州']
            },
            series: [
                {
                    name: '优',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [0, 0, 23, 3, 0,0,0,0,0,0]
                },
                {
                    name: '良',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [25, 59, 44, 60, 53, 29, 53,40, 43, 57]
                },
                {
                    name: '轻度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [35, 5, 1, 2, 10, 33, 11,22, 17, 7]
                },
                {
                    name: '中度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [5, 1, 0, 0, 2, 3, 1,1, 4, 1]
                },
                {
                    name: '重度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [0, 0, 0, 0, 0, 0,0, 2, 1, 0]
                }
            ]
        };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
  	</div>
	</div>
	</div>
</section> 