<br></br>
<section id='part2-title' class="bg-primary">
	<div class="container-fluid">
    <div class="row text-center"> 
    	<br></br>
    	<div class="service-item">
        <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-trash fa-stack-1x text-primary"></i>
        </span>
        <h2><strong>环境污染</strong></h2>
        </div>
      	<div class="col-lg-12">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
			<p class="lead">
			<strong><em>由于</em></strong> 
			人们对工业高度发达的负面影响预料不够，预防不利，导致了全球性的三大危机：资源短缺、环境污染、生态破坏。环境污染指自然的或人为的破坏，向环境中添加某种物质而超过环境的自净能力而产生危害的行为。（或由于人为的因素，环境受到有害物质的污染，使生物的生长繁殖和人类的正常生活受到有害影响。）由于人为因素使环境的构成或状态发生变化，环境素质下降，从而扰乱和破坏了生态系统和人类的正常生产和生活条件的现象。

			<br></br>
			<strong>针对</strong>环境污染刑事案件办理中的取证难、鉴定难、认定难等问题，最高人民法院、最高人民检察院发布司法解释《关于办理环境污染刑事案件适用法律若干问题的解释》，对有关环境污染犯罪的定罪量刑标准作出了新的规定，以从严惩治和防范环境污染。根据《解释》，致使一人以上重伤或者三人以上轻伤即构成“严重污染环境”，将被以污染环境罪追究刑事责任。
			</p>
    	    </div>
	        </div>
	    </div>
    </div>
    </div>
</section>

<br></br>
<section id='part2-content1'>
    <div class="container-fluid">
    <div class="text-center"><h2>2013-2019年城市月度空气质量情况</h2></div>
    <div class="row">
        <div class="col-lg-12">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <script src="js/echarts.js"></script>
        <div id="part2-content1_graph1" style="width: 80%px;height:500px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('part2-content1_graph1'));
    
            // 指定图表的配置项和数据
            
        option = {
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['优', '良','轻度污染','中度污染','重度污染'],
                left: 'right',
                top: 35
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                top: '15%',
                containLabel: true
            },
            xAxis:  {
                type: 'value'
            },
            yAxis: {
                type: 'category',
                data: ['北京','上海','深圳','广州','重庆','天津','苏州','武汉',
                '成都','杭州']
            },
            series: [
                {
                    name: '优',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [0, 0, 23, 3, 0,0,0,0,0,0]
                },
                {
                    name: '良',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [25, 59, 44, 60, 53, 29, 53,40, 43, 57]
                },
                {
                    name: '轻度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [35, 5, 1, 2, 10, 33, 11,22, 17, 7]
                },
                {
                    name: '中度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [5, 1, 0, 0, 2, 3, 1,1, 4, 1]
                },
                {
                    name: '重度污染',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: false,
                            position: 'insideRight'
                        }
                    },
                    data: [0, 0, 0, 0, 0, 0,0, 2, 1, 0]
                }
            ]
        };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
  	    </div>
	    </div>
	</div>
</section> 

<br></br>
<section id='part2-content1'>
    <div class="container-fluid">
    <div class="text-center"><h2>2011-2017年城市粉尘排放情况情况</h2>
        <h4>烟(粉)尘排放量(吨)</h4></div>
    <div class="row">
        <div class="col-lg-12">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <script src="js/echarts.js"></script>
        <div id="part2-content1_graph2" style="width: 80%px;height:500px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('part2-content1_graph2'));
    
            // 指定图表的配置项和数据
            
                option = {
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                legend: {
                    data:['北京','上海','重庆','天津','全国平均']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ['2011','2012','2013','2014','2015','2016','2017']
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'北京',
                        type:'bar',
                        data:[65848.04,66824.78,59285.95,57372.45,49386.55,34535.35,20423.74,]
                    },
                    {
                        name:'上海',
                        type:'bar',
                        data:[89828.4,87148.42,80924.98,141650.1,120668.29,79455.41,47032.25,]
                    },
                    {
                        name:'重庆',
                        type:'bar',
                        data:[180971.76,182265.7,191204.48,226130.56,209078.14,95799.42,83302.84,]
                    },
                    {
                        name:'天津',
                        type:'bar',
                        data:[75922.53,84064,87456.88,139511.47,100685.72,78144.13,65191.22,]
                    },
                    {
                        name:'全国平均',
                        type:'bar',
                        data:[19464.62005,18809.35737,19454.20207,26495.44533,23409.63881,15382.99391,12119.69962,]   
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
        </div>
        </div>
    </div>
    </div>
</section> 