<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include First-content.html %} 
  {% include services.html %}
  {% include callout.html %}
  {% include portfolio.html %}
  {% include call-to-action.html %}
  {% include echarts_eg.html %}
  {% include blank-footer.html %}
  {% include Second-content.html %}
  {% include blank-footer.html %}
  {% include footer.html %}
  {% include scripts.html %}
  
</body>

</html>
